<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 align = center> Welcome to Web File Manager</h1>
    <a href="{{url_for('login')}}">Login Page</a><br> <!--creates a link on the home page to lead us to login page-->
    <a href="{{url_for('register')}}">Register Page</a><br> <!--creates a link to lead home page us to Register page-->

</body>
</html>